{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}</title>
    {% block extra_head %}
    <link rel="stylesheet" href="{% static 'socialaccounts/login.css' %}">

       {% endblock extra_head %}
</head>
<body>
    {% block body %}
    {% if messages %}
        <div>
            <strong>{% trans "Messages:" %}</strong>
            <ul>
                {% for message in messages %}<li>{{ message }}</li>{% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="menu">
        <strong>{% trans "Menu:" %}</strong>
        <ul>
            {% if user.is_authenticated %}
                <li><a href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>
            {% else %}
                <li><a href="{% url 'account_login' %}" class="sign-in">{% trans "Sign In" %}</a></li>
                <a href="{% url 'signup' %}" class="signup-btn">Sign Up</a>
            {% endif %}
        </ul>
    </div>
    
    {% block content %}
    <div class="container">
        {% if process == "connect" %}
            <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>
            <p>{% blocktrans with provider.name as provider %}You are about to connect a new third-party account from {{ provider }}.{% endblocktrans %}</p>
        {% else %}
            <h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>
            <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third-party account from {{ provider }}.{% endblocktrans %}</p>
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <button type="submit">{% trans "Continue" %}</button>
        </form>
    </div>
    {% endblock content %}
    {% endblock body %}
    {% block extra_body %}
    <!-- Any additional scripts or elements can be added here -->
    {% endblock extra_body %}
</body>
</html>
